<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All People</title>
    <style>
        a {
            font-size: 18px;
        }
    </style>
</head>
<body>

<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getFullName() + ', ' + person.getBirthDay()}">VALUE</a>
</div>

<hr>
<a href="/people/new">Add Person</a>
<br>
<form action="/">
    <input type="submit" value="Home">
</form>

</body>
</html>