<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Book</title>
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="description">Description: </label>
    <input type="text" th:field="*{description}" id="description">
    <br>
    <label for="author">Author: </label>
    <input type="text" th:field="*{author}" id="author">
    <br>
    <label for="created">Published: </label>
    <input type="number" th:field="*{created}" id="created">
    <br>
    <input type="submit" value="Create!">
</form>


<p>
    <button onclick="window.history.back()">Cancel</button>
</p>

</body>
</html>